<div class="main-page grid">
    <div class="control-pane col col-12">
        <button @click="run" :disabled="running">Run!</button>
    </div>
    <div v-for="(runner, index) in runners" class="runner col col-12">
        <button @click="removeRunner(index)" :disabled="running">X</button>
        <span>{{index}}</span>
        <input v-model="runner.title" type="text" :disabled="running" />
        <input v-model="runner.code" type="text" :disabled="running" />
        <span>{{runner.info || ""}}</span>
    </div>
    <div class="new-runner col col-12">
        <button @click="addRunner" :disabled="running">+</button>
        <span></span>
        <input v-model="newRunner.title" type="text" :disabled="running" placeholder="name of new test" />
        <input v-model="newRunner.code" type="text" :disabled="running" placeholder="code of new test"/>
    </div>
    <div class="result-stat col col-12">
        {{resultStat}}
    </div>
</div>
